.Wrapper{
    height: 100vh;
    background-image: url("../../../public/images/IMG_20180402_185230_765.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content{
    position: absolute;
    color: rgb(14, 13, 13);
    top: 410px;
    right:90px;
}

.content h1{
    position: relative;
    font-weight: bold;
    font-size:50px;
    left: -90px;

}

.content h2{
    position: relative;
    left: -110px;
    font-weight: bold;
}

.content .btn{
    position: relative;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

