.Wrapper{
    height: 100vh;
    background-image: url("../../../public/images/IMG_20180402_185230_765.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content{
    position: absolute;
    color: rgb(14, 13, 13);
    top: 380px;
    right:250px;
}

.content h1{
    font-weight: bold;
    font-size:50px;

}

.content h2{
    position: relative;
    left: 10px;
    font-weight: bold;
}

.content .btn{
    position: relative;
    left: 100px;
    top: 30px;
    cursor: pointer;
}

