.Wrapper{
    height: 100vh;
    background-image: url("../../../public/images/card2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content{
    position: absolute;
    color: rgb(253, 250, 250);
    top: 600px;
    right:350px;
}

.content h1{
    position: relative;
    font-weight: bold;
    font-size:50px;
    left: -90px;

}

.content h2{
    position: relative;
    left: -110px;
    font-weight: bold;
}

.content .btn{
    position: relative;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

